server {

  listen 80 default_server;

  server_name _;
  
  root /srv;
  index index.php index.html;
  charset utf-8;

  location / {
    auth_basic "{{ getv "/nginx/basic.auth.enabled" "off" }}";
    auth_basic_user_file auth/htpasswd;
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    include ./fastcgi.conf;
    fastcgi_param HTTP_X_FORWARDED_FOR $proxy_add_x_forwarded_for;
    fastcgi_param SERVER_NAME $host;
    fastcgi_param HTTP_HOST $host;
    fastcgi_pass 127.0.0.1:9000;
    fastcgi_read_timeout 300;
  }
 
}
